@model IEnumerable<AddressSearcher.Models.Address>

@{
    ViewBag.Title = "Closest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Closest</h2>

<table class="table	table-bordered	table-hover">
    <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
        <tr>
            <td>@address.Name</td>
            <td>@address.City</td>
            <td>@address.State</td>
            <td>@address.Zip</td>
            <td>@address.Latitude</td>
            <td>@address.Longitude</td>
        </tr>
        }
    </tbody>
</table>